<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;url=http://fervillarrealm.github.io/browser-upgrade/">
    <style>body{display:none;}</style>
    <![endif]-->
    <title>{{ site.title }}{% if page.title != 'index' %} / {{ page.title }}{% endif %}</title>
    
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/site.css?rev={{ site.github.build_revision }}">
</head>
<body>
    <div class="container-fluid">
        <div class="navigation">
            <ul>
                <li><a href="/"><i class="icon-info-circled"></i><span>sobre</span></a></li>
                <li><a href="/projects.html"><i class="icon-wrench"></i><span>proyectos</span></a></li>
                <li><a href="https://github.com/fervillarrealm"><i class="icon-github-circled"></i><span>github</span></a></li>
                <li><a href="https://twitter.com/fervillarreal"><i class="icon-twitter"></i><span>twitter</span></a></li>
                <li><a href="https://www.linkedin.com/in/fervillarrealm"><i class="icon-linkedin-squared"></i><span>linkedin</span></a></li>
            </ul>
        </div>
        <div id="particles-js" class="page__hero--overlay" style=" background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('assets/img/code.gif');">
            <div class="wrapper">
                <h1 class="page__title" itemprop="headline"> habd.as Page 2</h1>
                <p class="page__lead">Let’s build a faster Web</p>
            </div>
            <canvas class="particles-js-canvas-el active" style="width: 100%; height: 100%;" width="1350" height="236"></canvas>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    Sidebar
                    
                    <h4>Fernando Villarreal</h4>
                    <h5>Software Engineer</h5>
                    <p>
                        Passionate softwate developer.
                    </p>
                    <div class="social-links">
                                <ul>
                                    <li><a class="social-link-item" target="_blank" href="mailto:fer.villarreal@gmail.com?subject=Hello from website"><i class="fa fa-fw fa-envelope"></i></a></li>
                                    <li><a href="http://github.com/fervillarrealm" class="social-link-item" target="_blank"><i class="fa fa-fw fa-github"></i></a></li>
                                    <li><a href="http://linkedin.com/in/fervillarrealm" class="social-link-item" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>
                                    <li><a href="http://stackoverflow.com/users/1724697/kushwaha" class="social-link-item" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i></a></li>
                                    <li><a href="http://twitter.com/fervillarrealm" class="social-link-item" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
                                    <li><a href="skype:aditya.kushwaha" class="social-link-item" target="_blank"><i class="fa fa-fw fa-skype"></i></a></li>
                              </ul>
                            </div>
                </div>
            </div><!-- .col-md-3 -->
            <div class="col-md-9">
                <div class="content">
                    {{ content }}
                </div>
            </div><!-- .col-md-9 -->
        </div><!-- .row -->
        
        
        <footer>
            <p><i class="icon-cc"></i>&nbsp;2017&ndash;{{ site.time | date: '%Y' }}&nbsp;&nbsp;Fernando&nbsp;Villarreal</p>
            <p>
                <a class="creative-commons" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <i class="icon-cc-by"></i>
                    <i class="icon-cc-nc"></i>
                    <i class="icon-cc-sa"></i>
                </a>
            </p>
        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/particles.min.js?rev={{ site.github.build_revision }}"></script>
    <script type="text/javascript">
        particlesJS.load('particles-js', '/particles.json', function() {
          console.log('callback - particles.js config loaded');
        });
    </script>
</body>
</html>
