<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;url=http://jnrbsn.github.io/browser-upgrade/">
    <style>body{display:none;}</style>
    <![endif]-->
    <title>{{ site.title }}{% if page.title != 'index' %} / {{ page.title }}{% endif %}</title>
    
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/fontello/css/fontello.css?rev={{ site.github.build_revision }}">
    <link rel="stylesheet" href="/vendor/fontello/css/animation.css?rev={{ site.github.build_revision }}">
    <link rel="stylesheet" href="/assets/css/main.css?rev={{ site.github.build_revision }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body data-spy="scroll" data-target="#navbar-example" class="fixed" cz-shortcut-listen="true">	 
    
    
    <nav class="navbar navbar-default" id="navbar-example" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class=""><a href="#perfil">Perfil</a></li>
					<li class="active"><a href="#experiencia">Experiencia</a></li>
					<li class=""><a href="#habilidades">Habilidades</a></li>
					<li class=""><a href="#proyectos">Proyectos</a></li>
					<li class=""><a href="#contacto">Contacto</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
    
    <!-- Parallax Inicio -->
    <div class="parallax" id="parallax">
        <div class="principal">
            <span class="border">FERNANDO VILLARREAL</span><br>
            <span id="typed" class="border"></span>
        </div>
        <a href="#perfil" class="scroll-down">	
			<span class="glyphicon glyphicon-chevron-down"></span>
		</a>
    </div>
    
     <div class="content">
            {{ content }}
        </div>
    
    <footer>
        <p>Este sitio es hospedado gracias a <a href="https://pages.github.com/">GitHub Pages</a> y 
<a href="http://jekyllrb.com/">Jekyll</a>. El código está dsponible de forma pública 
<a href="https://github.com/jnrbsn/jnrbsn.com">en GitHub</a>. Cualquier opinión que estén expresadas en este sitio es mía solamente.</p>

    </footer>
</div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/vendor/autolinker/Autolinker.min.js?rev={{ site.github.build_revision }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js"></script>
    <script src="/assets/js/main.js?rev={{ site.github.build_revision }}"></script>
    <script src="/assets/js/particles.min.js"></script>
    <script src="/assets/js/typed.custom.js"></script>
    
    <script type="text/javascript">
        //particlesJS.load('parallax', '/particles.json', function() {
        //  console.log('callback - particles.js config loaded');
        //});
        
     
    </script>
    
    
    <script>
	$(function(){
        setInterval ('cursorAnimation()', 700);
		$("#typed").typed({
			strings: ["FULL STACK DEVELOPER", "BACK EN DE", "BACK END DEVELOPER" , "COOL DEVELOPER", "ARCHITECT DEVELOPER", "FRONT END DEVELOPER", "SOFTWARE ENGINEER"],
			typeSpeed: 60,
			loop: true,
		});
		
		
		
	});
	
	function cursorAnimation() {
    $('span.typed-cursor').animate({
        opacity: 0
    }, 'fast', 'swing').animate({
        opacity: 1
    }, 'fast', 'swing');
}
	</script>
    
    
    
    

</body>
</html>
